<div class="todo-section incomplete-todos">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">Incomplete</span>
            </md-card-title-text>
        </md-card-title>
        <md-content>
            <md-list>

                <!-- Each Incompleted Todos loop -->
                <md-list-item
                    ng-repeat="todo in ctrl.Todos | filter: {isCompleted : false}">
                    <md-checkbox
                        ng-model="todo.isCompleted"
                        aria-label="Is Todo Completed?"
                    ></md-checkbox>
                    <span>{{ todo.content }}</span>

                    <!-- Delete Button -->
                    <md-button
                        class="md-icon-button md-secondary"
                        aria-label="Delete This Todo">
                        <md-tooltip md-direction="right"
                            >Delete this?</md-tooltip>
                        <md-icon
                            md-svg-src="../assets/svg/close.svg"
                            ng-click="ctrl.deleteThisTodo(todo._id)"
                        ></md-icon>
                    </md-button>
                </md-list-item>
                <p class="md-subhead emptyMessage"
                    ng-show="ctrl.isInCompletedTodosEmpty()">
                    No TODOs left, yay!
                </p>
            </md-list>
        </md-content>
    </md-card>
</div>
